name: Feature or hotfix build

on:
  push:
    branches: [ "feature/*", "hotfix/*", "fix/*" ]

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: engineering-research-and-development/dsp-true-connector

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -B clean verify --file pom.xml

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ./connector
          file: ./connector/Dockerfile
          no-cache: true
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:test
          labels: ${{ steps.meta.outputs.labels }}

  negotiation-api-without-counteroffer-tests:
    needs: build-and-push-image
    runs-on: ubuntu-latest
    
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Run docker container for negotiation-api-without-counteroffer-tests
        run: docker compose -f ./ci/docker/docker-compose.yml --env-file ./ci/docker/.env up -d

      - name: Wait for container starting
        run: sleep 30

      - name: Check if the container is up and running
        run: docker ps -a

      - uses: matt-ball/newman-action@v2.0.0
        with:
          collection: ./ci/docker/test-cases/negotiation-api-without-counteroffer-tests/negotiation-api-without-counteroffer-tests.json

      - name: Dump docker negotiation-api-without-counteroffer-tests
        if: failure()
        uses: jwalton/gh-docker-logs@v2

      - name: Stop docker container negotiation-api-without-counteroffer-tests
        run: docker compose -f ./ci/docker/docker-compose.yml --env-file ./ci/docker/.env down -v

  datatransfer-api-http-pull-tests:
    needs: build-and-push-image
    runs-on: ubuntu-latest

    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Run docker container for datatransfer-api-http-pull-tests
        run: docker compose -f ./ci/docker/docker-compose.yml --env-file ./ci/docker/.env up -d

      - name: Wait for container starting
        run: sleep 30

      - name: Check if the container is up and running
        run: docker ps -a

      - uses: matt-ball/newman-action@v2.0.0
        with:
          collection: ./ci/docker/test-cases/datatransfer-api-http-pull-tests/datatransfer-api-http-pull-tests.json

      - name: Dump docker datatransfer-api-http-pull-tests
        if: failure()
        uses: jwalton/gh-docker-logs@v2

      - name: Stop docker container datatransfer-api-http-pull-tests
        run: docker compose -f ./ci/docker/docker-compose.yml --env-file ./ci/docker/.env down -v

  datatransfer-api-http-push-tests:
    needs: build-and-push-image
    runs-on: ubuntu-latest
    
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Run docker container for datatransfer-api-http-push-tests
        run: docker compose -f ./ci/docker/docker-compose.yml --env-file ./ci/docker/.env up -d

      - name: Wait for container starting
        run: sleep 30

      - name: Check if the container is up and running
        run: docker ps -a

      - uses: matt-ball/newman-action@v2.0.0
        with:
          collection: ./ci/docker/test-cases/datatransfer-api-http-push-tests/datatransfer-api-http-push-tests.json

      - name: Dump docker datatransfer-api-http-push-tests
        if: failure()
        uses: jwalton/gh-docker-logs@v2

      - name: Stop docker container datatransfer-api-http-push-tests
        run: docker compose -f ./ci/docker/docker-compose.yml --env-file ./ci/docker/.env down -v

  api-endpoints-tests:
    needs: build-and-push-image
    runs-on: ubuntu-latest
    
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Run docker container for api-endpoints-tests
        run: docker compose -f ./ci/docker/docker-compose.yml --env-file ./ci/docker/.env up -d

      - name: Wait for container starting
        run: sleep 30

      - name: Check if the container is up and running
        run: docker ps -a

      - uses: matt-ball/newman-action@v2.0.0
        with:
          collection: ./ci/docker/test-cases/api-tests/api-endpoints-tests.json

      - name: Dump docker api-endpoints-tests
        if: failure()
        uses: jwalton/gh-docker-logs@v2

      - name: Stop docker container api-endpoints-tests
        run: docker compose -f ./ci/docker/docker-compose.yml --env-file ./ci/docker/.env down -v


  dataset-api-tests:
    needs: build-and-push-image
    runs-on: ubuntu-latest
    
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Run docker container for dataset-api-tests
        run: docker compose -f ./ci/docker/docker-compose.yml --env-file ./ci/docker/.env up -d

      - name: Wait for container starting
        run: sleep 30

      - name: Check if the container is up and running
        run: docker ps -a

      - uses: matt-ball/newman-action@v2.0.0
        with:
          collection: ./ci/docker/test-cases/dataset-api-tests/dataset-api-tests.json

      - name: Dump docker dataset-api-tests
        if: failure()
        uses: jwalton/gh-docker-logs@v2

      - name: Stop docker container dataset-api-tests
        run: docker compose -f ./ci/docker/docker-compose.yml --env-file ./ci/docker/.env down -v

  connector-tests:
    needs: build-and-push-image
    runs-on: ubuntu-latest

    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Run docker container for connector-tests
        run: docker compose -f ./ci/docker/docker-compose.yml --env-file ./ci/docker/.env up -d

      - name: Wait for container starting
        run: sleep 30

      - name: Check if the container is up and running
        run: docker ps -a

      - uses: matt-ball/newman-action@v2.0.0
        with:
          collection: ./ci/docker/test-cases/connector-tests/connector-tests.json

      - name: Dump docker connector-tests
        if: failure()
        uses: jwalton/gh-docker-logs@v2

      - name: Stop docker container connector-tests
        run: docker compose -f ./ci/docker/docker-compose.yml --env-file ./ci/docker/.env down -v
